{% extends "app/base.html" %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<h1>Login</h1>
<form>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-success">Login</button>
</form>
{% endblock content %}