html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 5;
}

footer {
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 1rem;
}


