<a href="{% url 'register' %}">Register</a>
<a href="">Login</a>  
<br> 

{% if register %}

register page
<form action="{% url 'registerdata' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    fname: <input type="text" name="fname" class="form-control" required><br><br>
    email: <input type="email" name="email" class="form-control" required><br><br>
    contact: <input type="text" name="contact"  class="form-control" required><br><br>
    image: <input type="file" name="image" accept=".jpg, .jpeg, .png" class="form-control" required><br><br>

    document: <input type="file" name="document" accept=".pdf, .doc, .docx" class="form-control" required><br><br>
    <input type="submit" value="Register" class="btn btn-primary mt-3">
</form>  

{% endif %}