{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<h2>Register</h2>
<form method="POST" enctype="multipart/form-data" action="{% url 'registerdata' %}">
    {% csrf_token %}
    <input type="text" name="fname" placeholder="Full Name" required><br>
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="text" name="contact" placeholder="Contact" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <input type="password" name="cpassword" placeholder="Confirm Password" required><br>
    <input type="file" name="image" required><br>
    <input type="file" name="document" required><br>
    <button type="submit">Register</button>
</form>
{% endblock %}
